.main-container {
  align-content: center;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 450px;
}
/* Columns */
.columns {
  column-count: 4;
  column-gap: 0.5rem;
  position: relative;
  .image {
    display: inline-block;
    margin: 0 0 0.5em;
    overflow: hidden;
    position: relative;
    width: 100%;
    img {
      transition: transform 0.2s ease-in-out;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translate3D(0, 0, 0);
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}
@media screen and (max-width: 736px) {
  .columns {
    column-count: 2;
  }
}
@media screen and (max-width: 480px) {
  .columns {
    column-count: 1;
  }
}

/* Image */
.image {
  border: 0;
  display: inline-block;
  position: relative;
  img {
    display: block;
  }
}
.image.left {
  float: left;
  margin: 0 0.5em 0.5rem 0;
  max-width: 40%;
  top: 0.25em;
  img {
    width: 100%;
  }
}
.image.right {
  float: right;
  margin: 0 0 0.5rem 0.5em;
  max-width: 40%;
  top: 0.25em;
  img {
    width: 100%;
  }
}
.image.fit {
  display: block;
  margin: 0 0 0.5rem 0;
  width: 100%;
  img {
    width: 100%;
  }
  &:hover {
    cursor: pointer;
    & > a div.description {
      opacity: 1;
    }
  }
}
.image.main {
  display: block;
  margin: 0 0 0.5rem 0;
  width: 100%;
  img {
    width: 100%;
  }
}

.gallery {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  li {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    padding: 4px;
    img {
      max-width: 100%;
      width: auto;
      height: auto;
      display: block;
    }
  }
}

.description {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: #fff;
  background: rgba(255, 255, 255, 0.6);
  bottom: 20px;
  display: flex;
  justify-content: center;
  left: 20px;
  position: absolute;
  right: 20px;
  text-align: center;
  top: 20px;
  filter: alpha(opacity=0);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  user-select: none;
  &:before {
    content: "";
    height: 100%;
  }
  h3 {
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    padding: 20px;
    user-select: none;
    width: 100%;
  }
}
